.logo {
    display: flex;
    align-items: center;
    gap:$space-1;
    text-align: start;

    .img {
        width: 2.5rem;
        border-radius: $radius-md;
    }

    .clinicName {
        display: none;
        font-size: $font-lg;
        font-weight: 800;
        color: $foreground;
        line-height: 1.1;

        @include for-tablet(){
            display: block;
        }
    }

    .secondName {
        display: none;
        font-size: 10px;
        letter-spacing: 1px;
        color: $color-primary;
        font-weight: 600;

        @include for-tablet(){
            display: block;
        }
    }
}