.header {
    width: 100%;
    margin-bottom: $space-4;

    @include for-tablet(){
        margin: 0;
    }
}

.items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $space-1;

    @include for-tablet(){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: $space-2;
    }

    .coverage {
        width: 100%;
        border: 1px solid $color-border;
        text-align: center;
        padding: $space-4 0;
        transition: $transition;
        user-select: none;

        &:hover {
            border-color: $color-primary;
            box-shadow: $shadow-primary;

            p {
                transition: $transition;
                color: $foreground;
            }
        }

        @include for-tablet(){
            margin: 0;
        }
    }
}
