.service {
    transition: scale .3s ease;
    margin-bottom: $space-6;

    @include for-tablet(){
        margin: 0;
    }

    &:hover {
        .img{
            transform: scale(1.01);
        }
    }
}

.code {
    letter-spacing: 2px;
    color: $foreground;
    position: absolute;
    top:$space-2;
    left: $space-2;
}

.media {
    position: relative;
    overflow: hidden;
}

.name {
    margin-top: $space-2;
    font-size: $font-xl;
    color: $primary-foreground;
}

.desc {
    margin-top: $space-2;
}

.cta {
    color: $color-primary;
    font-size: $font-sm;
    // font-family: $font-span;
    margin-top: $space-3;
    letter-spacing: 2px;
    display: flex;
    gap: $space-1;
    align-items: center;


    &::after {
        // position: absolute;
        content: '';
        border-bottom: 1px solid $color-primary;
        width: 2rem;
    }

    &:hover {
        color: $color-primary-dark;
    }
}

.img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;

    @include for-tablet(){
        max-width: 400px;
        height: 200px;
    }
}