// CODEFEX VARIABLES

// ==========================================
// PALETA DE COLORES (Semántica y Funcional)
// ==========================================

// Tonos Principales (Marca)
$color-primary:        #6b8e7e;
$color-primary-muted:  #6b8e7e53; // El "alpha" para fondos suaves
$color-primary-dark:   #4a6a5c;                // Para estados :hover

// 
$color-orange: #f97924;
$color-orange-muted: #f9aa6a25;
$color-green:#34a853;
$color-green-muted:#34a85311;
$color-destructive:#ea4334;
$color-destructive-muted:#ea433411;

// palete gray
$color-gray:#94a3b8;

// Superficies y Fondos (Backgrounds)
$bg-main:              #1a1a1a; // El "papel" de la web
$bg-soft:              rgb(32, 30, 30); // Secciones con ligero contraste
$white:                #ffffff;

// Contenidos y Textos (Foregrounds)
$foreground:           #fafafa; // Títulos y textos fuertes (la "tinta")
$primary-foreground:   #0c1017;
$color-border:         #2a2f3c;
$foreground-muted:     #9e9999; // Párrafos y textos secundarios

// ==========================================
// SISTEMA DE ESPACIOS (Regla de los 8px)
// ==========================================
$space-1: 0.5rem;   // 8px
$space-2: 1rem;     // 16px
$space-3: 1.5rem;   // 24px
$space-4: 2rem;     // 32px
$space-6: 3rem;     // 48px
$space-8: 4rem;     // 64px 
$space-9: 6rem;     // (Ideal para paddings de sección)

// ==========================================
// TIPOGRAFÍA (Escala de legibilidad)
// ==========================================
$font-sm:   0.875rem; // 14px
$font-base: 1rem;     // 16px
$font-lg:   1.125rem; // 18px
$font-xl:   1.5rem;   // 24px
$font-2xl:  2rem;     // 32px
$font-3xl:  2.5rem;   // 40px
$font-4xl:  3.5rem;   // 56px (Títulos Hero impactantes)

// Definimos los nombres de las familias
$font-accent: 'Playfair Display', sans-serif; // Para títulos y botones impactantes
$font-span:monospace;

// También es buena práctica definir los pesos (weights)
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

// ==========================================
// MISCELÁNEA (Estética de Salud)
// ==========================================
$radius-md: 25px;
$radius-lg: 16px;
$shadow-soft: 1px 1px 10px rgba(50, 50, 50, 0.1);
$shadow-primary:1px 1px 10px rgba(67,173,244,0.35);
$transition: all 0.4s ease;

// ==========================================
// MIXINS (Atajos de productividad)
// ==========================================

@mixin for-tablet {
    @media screen and (min-width: 900px) { @content; }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Contenedor estándar para que no se "desparrame" la web
@mixin container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 $space-2;
}